<div class="home-hero centered padding">
    <section class="ui-wrapper" style="width: 70%; padding: 0;">
        <div class="dash-sidebar">
            <div class="sidebar-header">
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>?size=64">
                <h5><%= guild.name %></h5>
                <span class="footnote"><%= guild.id %></span>
            </div>

            <a href="/dash/guild/<%= guild.id %>">
                <div class="sidebar-element <%= settings=='general' ? 'selected' : ''%>">
                    General
                    <div style="flex: 1"></div>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                </div>
            </a>
            
            <a href="/dash/guild/<%= guild.id %>/welcomer">
                <div class="sidebar-element <%= settings=='welcomer' ? 'selected' : ''%>">
                    Welcomer
                    <div style="flex: 1"></div>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                </div>
            </a>

            <a href="/dash/guild/<%= guild.id %>/starboard">
                <div class="sidebar-element <%= settings=='starboard' ? 'selected' : ''%>">
                    Starboard
                    <div style="flex: 1"></div>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                </div>
            </a>
                
            <a href="/dash/guild/<%= guild.id %>/reminders">
                <div class="sidebar-element <%= settings=='reminders' ? 'selected' : ''%>">
                    Reminders
                    <div style="flex: 1"></div>
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                    </svg>
                </div>
            </a>
        </div>
        <div class="dash-content">
            <%- include('../modules/' + settings) %>
        </div>
    </section>
</div>