<div class="home-hero padding">
    <% if(managed.length > 0){ %>
        <h3>Managed guilds</h3>
        <span class="footnote">Guilds that are currently managed by Rhodium.</span><br><br>
        <section class="ui-wrapper">
            <% managed.forEach(guild => { %> 
                <a href="/dash/guild/<%= guild.id %>">
                <div class="dash-guild-thumb big">
                    <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>?size=64">
                    <%= guild.name %>
                    <div style="flex: 1"></div>
                    <div class="btn full sq">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                        </svg>
                    </div>
                </div>
            </a>
            <% }) %>
        </section><br><br><br>
    <% } %>
    
    <% if(registered.length > 0){ %>
        <h3>Registered guilds</h3>
        <span class="footnote">Guilds that are registered in the database, but don't have Rhodium enabled.</span><br><br>
        <section class="ui-wrapper">
            <% registered.forEach(guild => { %> 
                <a href="/dash/guild/<%= guild.id %>">
                <div class="dash-guild-thumb big">
                    <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>?size=64">
                    <%= guild.name %>
                    <div style="flex: 1"></div>
                    <div class="btn full sq">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                        </svg>
                    </div>
                </div>
            </a>
            <% }) %>
        </section><br><br><br>
    <% } %>

    <% if(unmanaged.length > 0){ %>
    <h3>Other guilds</h3>
    <span class="footnote">Guilds you're on that are not in the Rhodium database.</span><br><br>
    <section class="ui-wrapper"">
        <% unmanaged.forEach(guild => { %> 
            <a href="https://discord.com/api/oauth2/authorize?client_id=<%= clientID %>&permissions=1543892087&scope=bot" target="_blank">
                <div class="dash-guild-thumb">
                    <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>?size=64">
                    <%= guild.name %>
                    <div style="flex: 1"></div>
                    <div class="btn full sq ">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                        </svg>
                    </div>
                </div>
            </a>
        <% }) %>
    </section>
    <% } %>
</div>