<div class="home-hero centered padding">
    <link rel="stylesheet" href="/css/switch.css" />
    <section class="ui-wrapper" style="width: 70%; padding: 0;">
        <div class="dash-sidebar">
            <div class="sidebar-header">
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>?size=64">
                <h5 style="margin-bottom: 0"><%= guild.name %></h5>
                <span class="footnote"><%= guild.id %></span>
            </div>

            <% Object.entries(modules).forEach(m => { %>
                <% if(m[1].permissions === "NONE" || member.permissions.has(m[1].permissions)){ %>
                    <a href="/dash/guild/<%= guild.id %>/<%= m[0] %>">
                        <div class="sidebar-element <%= settings==m[0] ? 'selected' : ''%> <%= settings==='info' && m[0] ==='' ? 'selected' : ''%>">
                            <svg class="sidebar-icon" viewBox="0 0 24 24">
                                <%- m[1].icon %>
                            </svg>
                            <%= m[1].name %>
                            <div style="flex: 1"></div>
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                            </svg>
                        </div>
                    </a>
                <% } %>
            <% }) %>
        </div>
        <div class="dash-content">
            <%- include('../modules/' + settings) %>
        </div>
    </section>
</div>